[Plymouth Theme]
Name=Kiosk Splash
Description=Custom boot splash for the kiosk
ModuleName=script

[script]
ImageDir=/usr/share/plymouth/themes/kiosk-splash
ScriptFile=/usr/share/plymouth/themes/kiosk-splash/kiosk-splash.script
